In [13]:
my_set = {1, 2, 3}
print(my_set)

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{1, 2, 3}
{1.0, 'Hello', (1, 2, 3)}

In [14]:
my_set = {1, 3}
print(my_set)
my_set.add(2)
print(my_set)
my_set.update([2, 3, 4])
print(my_set)
my_set.update([4, 5], {1, 6, 8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [15]:
my_set = set("HelloWorld")
print(my_set)
print(my_set.pop())
my_set.pop()
print(my_set)
my_set.clear()
print(my_set)

{'H', 'e', 'l', 'd', 'r', 'o', 'W'}
H
{'l', 'd', 'r', 'o', 'W'}
set()

In [11]:
L = set(map(int, input().split()))
for i in sorted(L):
    print(i,end=" ")

12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155